    body {
      font-family: 'Quicksand', sans-serif;
      background-image: url('https://img.freepik.com/free-photo/ingredients-sweet-apple-cupcake-muffins-sugar-butter-flour-honey-cinnamon-eggs-stone-light-background_127032-2718.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: 0;
      padding: 2rem;
      color: #4d3c33;
    }

    h1 {
      text-align: center;
      font-family: 'Handlee', cursive;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    form {
      max-width: 800px;
      margin: auto;
      background-color: #ffffff;
      padding: 2rem;
      border-radius: 12px;
      background-color: rgb(203, 191, 191);
      box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    input, textarea, select {
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1.5rem;
      border: 1px solid #d9cfc2;
      border-radius: 8px;
      background-color: #f9f6f2;
      font-size: 1rem;
    }

    button {
      background-color: #d7a76c;
      color: white;
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 30px;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s ease;
      margin-left: 300px;
    }

    button:hover {
      background-color: #c49455;
    }

    .success-message {
      text-align: center;
      margin-top: 1rem;
      color: green;
      font-weight: bold;
      display: none;
    }
  